{% extends "base_login.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td class="username">{{ form.username }}</td>
</div>
<div>
  <td class="password">{{ form.password }}</td>
</div>

<div class=login-button-container>
  <input type="submit" value="Login" id='submit'/>
  <input type="hidden" name="next" value="{{ next }}" />
</div>
<div class=register-button-container>
  <a class='link-login-screen' href="/register/">Register</a>
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a class='lost-password' href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}