/*
---------------------------------------------------------

    Email Template Creation

---------------------------------------------------------
*/

body {
    background-color: rgba(0,120,193,0.7);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    text-align: center;
}
.submit-button-container{
  display: inline-flex;
  border: solid;
  border-width: 0.5px;
  border-color:#ffffff;
  width: 20vw;
  height: 8vh;
  text-align: center;
  border-radius: 5px;
  margin-top:3px;
  margin-bottom: 55px;
}
input#submit{
  background: none;
  border:none;
  margin:auto;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
.submit-button-container:hover{
  background: rgba(255,210,129,0.9);
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.left {
  float:left;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: -25vw;
   margin-right: 50vw;
}
.right {
  float:right;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
 
}
div.prev-next-button-container{
  width: 100vw;
  z-index: 100;
  margin-top: 50vh;
  position:fixed;
}

#prev-next-buttons{
  position:absolute;
  display:inline-flex;
}

.regemail{
  background-color:rgba(255,210,129,0.9);
  border-radius: 10px;
  padding: 25px;
  margin:20px;
}
#maincontainer {
  position:relative;
  margin-left: 28%;
  margin-top:10%;
  z-index: 10;
}

#contentContainer {

  width:550px;
  height:850px;
  overflow: hidden;
}

#wrapper {

  width:2750px;
  transform: translate3d(0, 0, 0);
  transition: transform .5s ease-in-out;
  transform: translate3d(0,0,0);
}
.slide{
  float: left;
  width: 550px;
  height: 350px;
  white-space: normal;
  background-repeat:no-repeat;
}


/* Nav LINKS */



#navLinks {
  text-align: center;
  width: 550px;
}
#navLinks ul {
  margin:0px;
  padding: 0px;
  display: inline-block;
  margin-top: 6px;
}
#navLinks ul li {
  float: left;
  text-align: center;
  margin: 10px;
  list-style: none;
  cursor; pointer;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  border: white 2px solid;
}
#navLinks ul li:hover {
  background-color: #FFFF00;
}
#navLinks ul li.active{
    outline-width: 7px;
    background-color: rgba(255,210,129,0.9);
    border-color: rgba(255,210,129,0.9);
    color: #FFFFFF;
}
#navLinks ul li.active:hover {

}